/* You can add global styles to this file, and also import other style files */

%no-selection
{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}